# .venv/
  #__pycache__/
  #.idea/
  #*.pyc
  #.DS_Store
  created by virtualenv automatically
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/social.db
/.idea/vcs.xml
/.idea/workspace.xml
__pycache__/
*.pyc
.DS_Store
*.db
.idea/
